<!-- Ho deciso di applicare lo stile con classi e id;
  alternativamente avrei potuto usare tag specifici
  (ad esempio diversi heading). Ma considerando il caso
  molto semplice e il fatto che non ci fosse realmente
  una valenza semantica dietro gli elementi da scrivere,
  ho ritenuto fosse più ordinato utilizzare classi e id.
-->

<div id="first-div">{{ title }}</div>
<div class="first-style">{{ subheading }}</div>
<p class="second-style">ciao comp1</p>
<app-comp1 class="third-style"></app-comp1>
<p class="first-style">ciao comp2</p>
<app-comp2 class="third-style"></app-comp2>
<app-comp3 class="fourth-style"></app-comp3>
