* {
  text-align: center;
  font-family: sans-serif;
}

#first-div {
  font-size: 1.2em;
}

.first-style {
  color: yellow;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.2em;
  padding-top: 10px;
}

.second-style {
  color: darkred;
  text-transform: lowercase;
  font-size: 1.2em;
}

.third-style {
  color: red;
  text-transform: lowercase;
  font-size: 0.8em;
}

.fourth-style {
  color: cyan;
  text-transform: lowercase;
  font-size: 0.8em;
}
